*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background-color: #e1e1e1;
}

/* utils */
.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: #1e90ff;
}

.bg-violet{
    background-color: rgb(152, 0, 183);
}

.bg-green{
    background-color: rgb(0, 169, 79); 
}

.bg-orange{
    background-color: orange;
}

.bg-light-violet{
    background-color: violet;
}

.bg-lime{
    background-color: rgb(2, 196, 2);
}



.text-white{
    color: white;
}

.text-green{
    color: rgb(9, 105, 9);
}

.text-red{
    color: red;
}

/* header */
header{
    height: 70px;
    padding-left:20px;
    margin-bottom: 30px;

}

.logo{
    vertical-align: middle;
}

h1{
    display: inline;
    font-size: 2.5em;
    font-weight: 800;
    vertical-align: middle;
}

/* main */
.container{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.head-container{
    height: 50px;
    border-bottom: 1px  solid rgb(160, 160, 160);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 15px 30px;
}

/* btn  */
button{
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
}

.add-section-btn{
    color: rgb(160, 160, 160);
    border: 1px solid rgb(160, 160, 160);

}

/* body container */
.body-container{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 25px 30px;
}

/* list  */
ul{
    list-style-type: none;
    margin-bottom: 20px;
}

li{
    margin-bottom: 6px;
}

.task{
    height: 30px;
    line-height: 30px;
}

.task-check{
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
}

.label{
    color: white;
    font-size: 12px;
    border-radius: 8px;
    padding: 4px 10px;
}

